@font-face {
  font-family: "Clash Display";
  src: url("Assets/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
h2,
.viewMenu {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* 
.prato {
  overflow: hidden;
} */

.prato img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
 }
/*
.prato img:hover {
  transform: scale(1.05);
} */

.viewMenu, a{
    background: linear-gradient(107deg, #D03928 0.66%, #8D1D10 100%);

}