@font-face {
  font-family: "Clash Display";
  src: url("Assets/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
h2,
.viewMenu {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.viewMenu{
    background: linear-gradient(107deg, #D03928 0.66%, #8D1D10 100%);

}

.pedir {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.pedir:active {
  transform: translateY(-1px);
}